<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.t3q.dranswer.mapper.ImageMapper">

    <resultMap type="DbImage" id="dbImageMap">
		<result property="image"				column="image" />
		<result property="microService"			column="micro_service" />
		<result property="imageName"			column="image_name" />
		<result property="imageRealName"		column="image_real_name" />
		<result property="imageStatus"			column="image_status" />
		<result property="imageStatusDetail"	column="image_status_detail" />
		<result property="modTimestamp"			column="mod_timestamp" />
		<result property="regTimestamp"			column="reg_timestamp" />
    </resultMap>

    <select id="getImageSequence" resultType="int">
    	select nextval('swint.swint_img_seq')
    </select>

    <select id="selectServiceByMicro" parameterType="String" resultType="String">
    	select	service
    	from	tb_micro_info
    	where	micro_service	= #{micro}
    	and		del_yn			= 'N'
    	limit	1
    </select>

    <select id="selectServiceByImage" parameterType="String" resultType="String">
    	select	A.service
    	from	tb_micro_info A,
    			tb_image_info B
    	where	B.image = #{image}
    	and		B.micro_service = A.micro_service
		and		A.del_yn		= 'N'
		and		A.del_yn		= B.del_yn
		limit	1
    </select>

    <select id="selectImage" parameterType="String" resultType="DbImage">
    	select	*
    	from	tb_image_info
    	where	image 	= #{image}
		and		del_yn	= 'N'
    </select>

    <select id="selectImageByMicro" parameterType="String" resultMap="dbImageMap">
    	select	*
    	from	tb_image_info
    	where	micro_service	= #{microService}
		and		del_yn			= 'N'
    </select>

    <insert id="insertImage" parameterType="map">
		insert into tb_image_info
		(
			image,
			micro_service,
			image_name,
			image_real_name,
			image_status,
			image_status_detail
		) values (
			#{obj.image},
			#{obj.microService},
			#{obj.imageName},
			#{obj.imageRealName},
			#{obj.imageStatus},
			#{obj.imageStatusDetail}
		)
    </insert>
    
	<update id="updateImageName" parameterType="String">
		update tb_image_info set
			image_name		= #{imageName},
			mod_timestamp	= current_timestamp
		where	image		= #{image}
		and		del_yn		= 'N'
	</update>

	<update id="updateImageRealName" parameterType="String">
		update tb_image_info set
			image_real_name	= #{imageRealName},
			mod_timestamp	= current_timestamp
		where	image		= #{image}
		and		del_yn		= 'N'
	</update>

	<update id="updateImageStatus" parameterType="String">
		update tb_image_info set
			image_status		= #{imageStatus},
			image_status_detail	= #{imageStatusDetail},
			mod_timestamp		= current_timestamp
		where	image			= #{image}
		and		del_yn			= 'N'
    </update>

	<update id="deleteImage" parameterType="String">
		update tb_image_info set
			del_yn			= 'Y',
			mod_timestamp	= current_timestamp
		where	image	= #{image}
	</update>

	<update id="deleteImageByMicro" parameterType="String">
		update tb_image_info set
			del_yn			= 'Y',
			mod_timestamp	= current_timestamp
		where	micro_service	= #{microService}
	</update>

	<delete id="removeImage" parameterType="String">
		delete from tb_image_info
		where
			image = #{image}
	</delete>

	<delete id="removeImageByMicro" parameterType="String">
		delete from tb_image_info
		where
			micro_service = #{microService}
	</delete>





	<resultMap type="DbContainer" id="dbContainerMap">
		<result property="image"				column="image" />
		<result property="container"			column="container" />
		<result property="containerDomain"		column="container_domain" />
		<result property="modTimestamp"			column="mod_timestamp" />
		<result property="regTimestamp"			column="reg_timestamp" />
    </resultMap>

    <select id="getContainerSequence" resultType="int">
    	select nextval('swint.swint_con_seq')
    </select>

    <select id="selectImageByContainer" parameterType="String" resultType="String">
    	select	image
    	from	tb_container_info
    	where	container = #{container}
    	limit	1
    </select>

    <select id="selectContainerByImage" parameterType="String" resultMap="dbContainerMap">
    	select	*
    	from	tb_container_info
    	where	image = #{image}
    </select>
    
    <select id="selectContainerIdByImage" parameterType="String" resultType="String">
    	select	container
    	from	tb_container_info
    	where	image = #{image}
    	limit	1
    </select>
    
    <insert id="insertContainer" parameterType="map">
		insert into tb_container_info
		(
			image,
			container,
			domain
		) values
		<foreach collection="list" item="obj" separator=",">
		(
			#{obj.image},
			#{obj.container},
			#{obj.containerDomain}
		)
		</foreach>
    </insert>

	<update id="deleteContainerByImage" parameterType="String">
		update tb_container_info set
		    del_yn			= 'Y',
		    mod_timestamp	= current_timestamp
		where
			image = #{image}
	</update>

	<delete id="removeContainerByImage" parameterType="String">
		delete from tb_container_info
		where
			image = #{image}
	</delete>

</mapper>